body {
  background: white;
  background-image: url('dabbg.jpg');
  background-repeat:repeat;
  background-size:cover;
  background-position:left;
}

p {
  color: black;
}

h1 {
  font-weight: bold;
}

.title {
  color: white;
  text-align: center;
  font-size: 45px;
}

.playas {
  display: flex;
  flex-direction: column; /* Stacks the players vertically */
  align-items: center; /* Aligns all content to the left */
  gap: 20px; /* Adds space between each player group */
  padding: 20px; /* Add some space around the entire collection */
}

/* Updated audio player styling */
.bioroids, .bushido, .hun, .shimmer {
  display: flex; /* Make each individual player a flex container */
  align-items: center; /* Vertically center the title and audio control */
  gap: 10px; /* Add space between the title and the audio control */
  font-size: 30px;
  /* Removed position, top, and right */
}

/* Updated title styling for audio players */
.roids, .shido, .hunter, .shim {
  font-size: 30px;
  margin: 0; /* Remove default margin from headers */
}
.roids, .hunter, .shido{
  font-size:50px;
  color:white
}
.shim{
  font-size:40px;
  color:white;
}
.hb{
  font-size:40px;
}
.gf{
  color:white;
  font-size: 65px;
  
  display: flex; 
  
  align-items: center;
  flex-direction: column
  
}
.g{
  color:white;
  font-size: 45px;

  display: flex; 

  align-items: center;
  flex-direction: column
}